# Breast Cancer (Logistic Regression)

Importing The Libraries

In [106]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

Importing The Dataset

In [107]:
dataset = pd.read_csv("./data/breast-cancer.data",na_values=['?'])
dataset

,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no.1
0,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
2,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
3,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no
4,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,left,left_low,no
...,...,...,...,...,...,...,...,...,...,...
280,recurrence-events,30-39,premeno,30-34,0-2,no,2,left,left_up,no
281,recurrence-events,30-39,premeno,20-24,0-2,no,3,left,left_up,yes
282,recurrence-events,60-69,ge40,20-24,0-2,no,1,right,left_up,no
283,recurrence-events,40-49,ge40,30-34,3-5,no,3,left,left_low,no
284,recurrence-events,50-59,ge40,30-34,3-5,no,3,left,left_low,no

In [108]:
# Information of Dataset 
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285 entries, 0 to 284
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   no-recurrence-events  285 non-null    object
 1   30-39                 285 non-null    object
 2   premeno               285 non-null    object
 3   30-34                 285 non-null    object
 4   0-2                   285 non-null    object
 5   no                    277 non-null    object
 6   3                     285 non-null    int64
 7   left                  285 non-null    object
 8   left_low              284 non-null    object
 9   no.1                  285 non-null    object
dtypes: int64(1), object(9)
memory usage: 22.4+ KB

In [109]:
# check for Null value
dataset.isnull().sum()

no-recurrence-events    0
30-39                   0
premeno                 0
30-34                   0
0-2                     0
no                      8
3                       0
left                    0
left_low                1
no.1                    0
dtype: int64

In [110]:
dataset=dataset.dropna()

In [111]:
# Data information
dataset.describe()

                3
count  276.000000
mean     2.054348
std      0.729096
min      1.000000
25%      2.000000
50%      2.000000
75%      3.000000
max      3.000000

In [112]:
dataset["no"].unique()

array(['no', 'yes'], dtype=object)

In [113]:
X = dataset.iloc[:,:-1]
Y = dataset.iloc[:,-1]
le = LabelEncoder()